body{
  margin: 10px;
}

div.header{
  margin:margin;
  background-color: #539165;
}
div.header p{
  max-width: 600px;
  margin: auto;
}

div.main{
  border: 2px solid #3F497F;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}
div.main>p{
  padding-left: 10px;
  padding-right: 10px;
  height: 3em;
  overflow-y:scroll;
  display: flow-root;
}
div.break{
  max-width: 576px;
  height: 50px;
  background-color: #3F497F;
  margin: auto;
  display: flow-root;
}
div.break:hover{
  max-width: 600px;
}
div.footer{
  /* border: 1px solid black; */
  height: 130px;
  overflow: hidden;
}

div.triangle{
  text-align: center;
  margin-top:110px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 150px;
  height: 150px;

  border-top: 75px solid #F7C04A;
  border-left: 75px solid #F7C04A;

  transform: rotate(45deg);
}
div.test{
  box-sizing: border-box;
  width:100px;
  height:100px;
  border-top: 50px solid white;
  border-left: 50px solid white;
  border-right: 50px solid white;
  border-bottom: 50px solid #F7C04A;
  margin: auto;
}
