* {
  box-sizing: border-box;
}

* {
  background-color: rgba(0,0,0,0.08);
  box-shadow: inset 0 0 1px red;
}

* {
  box-sizing: inherit;
}
html,body{
  height: 100%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

ul{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
  position: relative;
  white-space: nowrap;
}

div.items{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  padding-left: 20px;
}

.items>ul{
  position: absolute;
  bottom: 0px;
  font-size: 0px;
}

.items>ul>li{
  font-size: 16px;
  display: inline-block;
  margin-right: 20px;
}

.items>ul>li li{
  display: none;
  width: 200px;
}

.items li:hover>ul>li{
  display: block;
}

.items>ul ul{
  position: absolute;
  top: 100%;
  left: 0px;
}

.items>ul ul ul {
  position: absolute;
  left: 100%;
  top: 0px;
}

.items ul ul ul::before{
  content: ">";
  position: absolute;
  right: 100%;

}

/* #cssmenu{
  height: 100%;
  width: 100%;
  margin: auto;
}

#navbar{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(50,50,51);
}
div.menuitem{
  display: inline-block;
  width: auto;
  font-size: 2em;
  margin-right: 50px;
  line-height: 150%;
  margin-top: 10px;
}

#docmenubuttom{
  position: absolute;
  background-color: rgb(50,50,51);
  color:white;
  left: 0px;
  top: 0px;
}

.menuitem span{
  vertical-align: baseline;
  margin: 0px 30px;
}

#docmenu{
  display: none;
  background-color: rgb(37,37,38);
  color:white;
  position: absolute;
  width: auto;
  top: 48px;
  left: -2px;
  border: 3px solid black;
  border-radius: 10px;
  border-top-left-radius: 0px;
  width: max-content;
}

.menuitem:hover{
  background-color: rgb(37,37,38);
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.menuitem:hover #docmenu{
  display: block;
  /* position: absolute;
  top: 70px;
  left: 0px;
  border: 3px solid black;
}

li#openrecentfile{
  position: relative;
}

li#openrecentfile::after{
  content: '>';
  color: white;
}

ul.thirdmenu{
  padding-left: 10px;
}
div.thirdmenu{
  display: none;
  position: absolute;
  left: calc(100% + 0px);
  top: 0px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(37,37,38);
}

li#openrecentfile:hover div.thirdmenu{
  display: block;
}
#editmenubuttom{
  position: absolute;
  left: 300px;
  top: 0px;
}

#selectmenubuttom{
  position: absolute;
  left: 600px;
  top: 0px;
}

/* div.menuitem:hover{
  background-color: aliceblue;
} */







