* {
  box-sizing: inherit;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 1px red;
}

html, body{
  box-sizing: border-box;
  margin: auto;
}

ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

// #grid-practice{
//   width: 100%;
// }

#practice_1{
  ul{
    height: 600px;
    background-color: white;
    display: grid;

    //grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-auto-columns:265px;

    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
  }
}

#practice_2{
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
  ul{
    background-color: white;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;

    gap: 15px;

    height: 614px;
  }
  li{
    width: 100%;
    height: 100%;
    grid-row: span 2;
    &:first-child{
      grid-row: span 4;
    }
    &.small{
      grid-row: span 1;
    }
  }
}

#practice_3{
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    li:nth-child(12n + 4){
      grid-column-end : span 2;
      grid-row-end: span 2;
    }
    li:nth-child(12n + 11){
      grid-column-end : span 2;
      grid-row-end: span 2;
    }
  }
}




