* {
  box-sizing: inherit;
}
/* :root{
  --button-width:500px;
  --button-height: 295px;
  --toggle-diameter: 255px;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --tiggle-wider: 333px;
  --color-grey:#E9E9E9;
  --color-darg-grey:#39393D;
  --color-green-: #30d158;
} */
html,body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#ioscheckbox{
  width: 100%;
  height: 100%;
}
#buttonborder{
  position: relative;
  width: 400px;
  height: 230px;
  margin: auto;
  top: 100px;
  border: 6px solid rgb(198,198,198);
  border-radius: 115px;
  background-color: rgb(48,243,76);
  transition: 0.3s;
}

#bgc{
  position: absolute;
  background-color: rgb(255,255,255);
  border-radius: 115px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition-property: height,width,top,left;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(.33,0,.62,.99);
}


#button{
  position: absolute;
  width:198px;
  height: 198px;
  margin: 0px;
  top: 10px;
  left: 10px;
  right: 180px;
  bottom: 10px;
  border-radius: 99px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 30px 97px 10px rgb(220,220,220);
  transition-property: right, left;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(.33,0,.62,.99);
}

#buttonborder:hover{
  border:6px solid rgb(48,243,76);
}

#buttonborder:hover>#button{
  background-color: rgb(255,255,255);
  box-shadow: 0px 3px 28px 10px rgb(38,211,60);
  position: absolute;
  left: 180px;
  right: 10px;
}
#buttonborder:hover>#bgc{
  width: 0px;
  height: 0px;
  top: 109px;
  left: 194px;
}

#testbutton{
  position: fixed;
  top: 430px;
  left: calc(50% - 140px);
  height: calc(100% - 430px);
}

label{
  display: inline-block;
}
span{
  display: inline-block;
  width: 270px;
  height: 160px;
  border: 6px solid rgb(198,198,198);
  border-radius: 999px;
}

span::before{
  display: inline-block;
  content: '';
  position: absolute;
  width: 136px;
  height: 136px;
  border-radius: 999px;
  margin: 6px 6px;
  box-shadow: 0px 30px 97px 10px rgb(220,220,220);
}

label:checked span{
  background-color:rgb(48,243,76);;
}
/* span::after{
  content: '';
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: white;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0,0,0,.10);

}

span{
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
} */
