* {
  box-sizing: border-box;
}

html,body{
  margin: auto;
  height: 100%;

}
#wrapper{
  width: 100%;
  height: 100%;
}
.topdata{
  color: white;
  height: 66px;
  background-color: #354b66;
  display:flow-root;
}
.topdata h1{
  margin: 12px;
}
.main{

  height: calc(100% - 66px);
  display: flow-root;
}

#leftpanel{

  display: inline-block;
  width: 187px;
  height: 100%;
  background-color: #e8ebef;
  overflow-y: scroll;
  vertical-align: top;

}

#mainframecontainer{

  display: inline-block;
  padding: 10px;
  height: 100%;
  width: calc(100% - 187px);
  vertical-align: top;
  background-color: #bcc2cd;
}

#mainframecontainer h1{
  margin: auto;
}

#mainframecontainer p {

  margin: auto;
  height: auto;
  width: 100%;
  padding: 10px;
}

#mainframecontainer h1{
  margin: auto;
  margin-top: 10px;
  margin-left: 20px;
}

