body{
  margin: auto;
  height: 100%;
}

header{
  background-color: #6096B4;
  height: 100px;
  width: 100%;
  margin: auto;
}
aside{
  background-color: #93BFCF;
  height: calc(100vh - 100px);
  width: 200px;
  overflow-y: auto;
}
main{
  background-color: #BDCDD6;
  margin-left: 200px;
  margin-top: calc(100px - 100vh);
  height: calc(100% - 100px);
  overflow: auto;
}
p {
  margin: auto;
}
