/* 标签名选择器 */
* {
    border: 1px solid black;

}
.test1{
    color: red;
}
.test2{
    color:black;
}

.test3{
    color: blue;
}
.test4{
    color: red;
}

.test2:hover :is(.test4){
    color: black;
}
