
@font-face{
  font-family: iconfont;
  src: url(../src/iconfont.ttf);
  font-weight: 400;
}

[class*=iconfont]{
  font-family: iconfont!important;
  font-style: normal;
}

.iconfont-cart::before{
  content:"\E60C";
}

.iconfont-search::before{
  content:"\E616";
}

.iconfont-arrow-right-big::before{
  content:"\E623";
}

.iconfont-tool::before{
  content:"\E634";
}

.iconfont-circle-7::before{
  content:"\E635";
}

.iconfont-circle-15::before{
  content: "\E636";
}

