* {
  box-sizing: inherit;
  margin: auto;
}

html,body{
  box-sizing: border-box;
  min-width: 1700px;
  font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;;
  font-size:14px;
  transform-origin: center;
}

a:link{
  text-decoration: none;
}

#mishop{
  display: flex;
  flex-flow: column wrap;
  transform-origin: center;
  .site-topbar{
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(158,158,158);
    position: relative;
    height: 40px;
    background-color: #333;
    line-height: 40px;
    word-spacing: 2px;
    text-align: center;
    a:link{
      color: #b0b0b0;
      text-decoration: none;
    }
    a:visited{
      color: rgb(158,158,158);
    }

    a:hover{
      color: white;
    }
    .container{
      width: 1226px;
      height: 100%;
      margin: auto;
      position: relative;
      .topbarnav{
        font-size: 12px;
        position: absolute;
        span{
          color: #424242;
        }
      }
      .topnavright{
        position: absolute;
        right: 0px;
        height: 100%;
        width: 400px;

        .topbarinfo{
          display: inline-block;
          width: 189px;
          height: 100%;
          margin: 0px;
          margin-right: 50px;
        }

        span#shoppingcarttitle{
          content: '购物车';
          position: absolute;
          right: 0px;
          // top: -40px;
          background-color: #666;
          width: 130px;
          &:hover{
            background-color: #fff;
          }
          &:hover + #shoppingcart{
            display: block;
          }
        }
        #shoppingcart{
          display: none;
          height: 150px;
          width: 460px;
          position: absolute;
          right: 0px;
          top: 40px;
          background-color: #fff;
          box-shadow: 0 4px 13px -4px grey;
        }
      }
    }
  }
  #firstport{
    background-color: white;
    width: 100%;
    border: 1px solid;
  }
}




#site-header{
  height: 100px;
  width: 100%;
  #headercontainer{
    margin: auto;
    height: 100%;
    width: 1226px;
    #headerlogo{
      float: left
    }
    #serachpanel{
      float:right;
      width: 320px;
      height: 55px;
      margin-top: 25px;
      *{
        height: 100%;
      }
      input{
        float:left;
        width:80%;
      }
      button{
        float:right;
        width:20%;
      }
    }

    #productlist{
      margin-left: 230px;
      color: #333;
      height: 100%;
      width: 610px;
      overflow:hidden;
      font-size: 16px;
      ul{
        padding: 0px;
        margin: 0px;
        margin-top: 40px

      }
      li{
        display: inline;
        margin-right: 13px;
        color: #333;
        a{
          &:link{
            color: #333;
          }
          &:visited{
            color: #333;
          }
          &:hover{
            color: rgb(249,106,17);
          }
        }
        &:hover{
          color: rgb(249,106,17);

        }
        }
      }
    }
  }

  #firstpanel{
    width: 1226px;
    height:465px;
    border: 1px solid blue;
    #leftpanel{
      float: left;
      width: 240px;
      height: 100%;
      border: 1px solid black;
      background-color: rgb(165,163,163);
    }
    #radioslider{
      height: 100%;
      width: auto;
    }
  }

  div.home-sub{
    width: 1226px;
    height: 170px;
    border: 2px solid;
    margin-top: 15px;
    margin-bottom: 30px;
  }


  #mainport{
    width: 100%;
    background-color: rgb(245,245,245);
    #maincontainer{
      width: 1226px;
      margin: auto;
      .home-banner-box{
        width: 100%;
        margin: 22px 0;
        overflow: hidden;
        img{
          width: 100%;
        }
      }

      .homebrickbox{
        width: 1226px;
        height: 100px;
        background-color: white;
      }
    }
  }

.miicon{
  display: block;
  margin-left: 0px;
  margin-top: 22px;
  height: 56px;
  width: 56px;
  background-image: url(../pic/logo-mi2.png);
  background-size: 100%;
}





